@charset "UTF-8";
.btn {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  background: #383838; }

.wrap {
  min-width: 320px;
  max-width: 640px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: relative;
  background: #fff; }

.main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }
#audio_btn {
  position: fixed;
  right: 20px;
  top: 8.5%;
  z-index: 200;
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/mic_icon_01.png);
  background-repeat: no-repeat;
  background-position: 0px 0px; }

#audio_btn.off {
  /*background-position: 0px -50px;*/ }

audio {
  height: 1px;
  width: 1px;
  display: none; }
.bg{
  width: 100%;
  height: 100%;
}
.time{
  position: absolute;
  top: 150px;
  left: 0px; 
  font-size: 15px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.an{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -40px;
}

.music-ani {
  -webkit-transform-origin: 50% 50%;
  animation-timing-function: linear;/*linear,ease,ease-in,ease-in-out,ease-out*/
  -webkit-animation-name: "music-ani";/*动画属性名，也就是我们前面keyframes定义的动画名*/
  -webkit-animation-duration: 100s;/*动画持续时间*/
  -webkit-animation-delay: 0s;/*动画延迟时间*/
  -webkit-animation-iteration-count: infinite;/*定义循环资料，infinite为无限次*/
  -webkit-animation-fill-mode: forwards;/* forwards 固定在最后一帧| backwards 固定在第一帧*/ }

@-webkit-keyframes music-ani {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(36000deg);
    transform: rotate(36000deg); } }
