<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微小宝—功能最强的微信编辑器，支持微信公众号多图文排版、多个公众号管理</title>
    <meta property="qc:admins" content="444172777767026375" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="微小宝是功能最强大的微信编辑器，内置数百种样式，支持微信公众号多图文排版、一键同步、多个公众号管理等强大功能">
    <link rel="icon" href="http://www.wxb.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://www.wxb.com/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://www.wxb.com/css/style-metronic.css" />
    <link rel="stylesheet" type="text/css" href="http://www.wxb.com/css/style.css?v=1.2.0" />
    <link rel="stylesheet" type="text/css" href="http://www.wxb.com/plugins/farbtastic/farbtastic.css" />
    <link rel="stylesheet" type="text/css" href="http://www.wxb.com/css/editor.min.css?v=1.1.0" />
    <!--[if IE 8]>
    <script type="text/javascript" src="http://www.wxb.com/plugins/respond.min.js"></script>
    <![endif]-->
    <script>
        var SITE_PUBLIC='http://www.wxb.com/';
        var SITE_UPLOAD='http://weixiaobao.oss-cn-hangzhou.aliyuncs.com/';
    </script>
</head>
<body class="admin">
<div class="page-container">
    
    <div class="pro-mode-header">
        <a class="navbar-brand" href="http://www.wxb.com/">
            <img src="http://www.wxb.com/img/logo.png" class="logoimg" alt="logo">
        </a>
    </div>
    <div class="editor-wrap" id="editorWrap"></div>
    <div class="modal-wrap" id="modalWrap"></div>
    <script type="text/javascript">
        var wxbEditor={
            mainUE:null,
            store:null,
            fetchUrl:'http://www.wxb.com/material/content',
            saveUrl:'http://www.wxb.com/resarticle/updateNews',
            coverUploadPath:"http://www.wxb.com/index/upload/news",
            contentUploadPath:"http://www.wxb.com/index/uploadweixin",
            nickName:"",
            userId:"0",
            authorizerId:"0",
            newsId:"0",
            materialData:[],
            config:[],
            materialId:"0",
            hasSaved:false
        };
    </script>
    <!--<script type="text/javascript" src="http://www.wxb.com//js/editor/editor_styles.js"></script>-->

    <script type="text/template" id="loginTemp">
        <form id="loginForm" method="post">
            <div class="form-group"><label>登录帐号：</label><input type="text" name="email" id="username" class="form-control" placeholder="手机号/邮箱" value="" autofocus="autofocus"/></div>
            <div class="form-group"><label>密码：</label><input type="password" name="password" id="password" class="form-control" placeholder="密码" value=""></div>
            <div class="form-group captcha-warpper" style="display: none;">
                <label>验证码：</label>
                <input class="form-control" id="captcha" type="text" name="captcha" placeholder="验证码"/>
                <img class="check-code" src="/captcha" alt="验证码"/>
                <a class="js-refresh-check" href="javascript:void(0);">换一张</a>
            </div>
            <div class="login-bottom-tips">
                <a href="http://www.wxb.com/oauth/qqlogin?from=http%3A%2F%2Fwww.wxb.com%2Feditor" target="_blank" class="qqlogin"><i class="fa fa-qq color-blue pull-left"></i>QQ快速登录</a>
                <a href="/user/findpassword" class="login-signup-forgot-link pull-right" target="_blank">忘记密码？</a>
            </div>
        </form>
    </script>
    <script type="text/template" id="previewTemp">
        <div class="rich_media">
            <div class="rich_media_inner">
                <div class="rich_media_area_primary">
                    <h2 class="rich_media_title"> <%= title %></h2>
                    <div class="rich_media_meta_list">
                        <em id="post-date" class="rich_media_meta rich_media_meta_text"><%= date %></em>
                        <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">公众号名称</a>
                    </div>
                    <div class="rich_media_content">
                        <% if(show_cover_pic==1){ %>
                        <p><br></p>
                        <p style="text-align: center;"><img src="<%= fileid %>" style="width: auto !important; visibility: visible !important; height: auto !important;"></p>
                        <p><br></p>
                        <% } %>
                        <%= content %>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
<script type="text/javascript" src="http://www.wxb.com/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/underscore-min.js"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/back-to-top.js"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/jquery.cookie.min.js"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/win.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/farbtastic/farbtastic.js?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/jquery-file-upload/jquery.ui.widget.js?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/ueditor/ueditor.config.js?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/ueditor/ueditor.all.min.js?v=1.0.0?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/ueditor/lang/zh-cn/zh-cn.js?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/ueditor/plus/upload.js?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/ueditor/plus/section.js?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/ueditor/plus/onlineCustom.js?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/plugins/jquery-ui.js?v=1.2.1"></script>
<script type="text/javascript" src="http://www.wxb.com/js/editor-tools.js?v=1.2.1"></script>
<!--    <script src="http://localhost:3000/public/js/editor.build.js"></script>-->
              <script src="http://www.wxb.com/js/editor.build.min.js?v=1.1.0"></script>
    <script type="text/javascript">
            var isIE = (function() {
            var browser = navigator.appName;
            var b_version = navigator.appVersion;
            var version = b_version.split(";");
            version[1]=version[1]||"";
            var trim_Version = version[1].replace(/[ ]/g, "");
            var version;
            if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE6.0") {
                version = "IE6";
            } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE7.0") {
                version = "IE7";
            } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE8.0") {
                version = "IE8";
            } else if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE9.0") {
                version = "IE9";
            }
            return {
                version: version
            }
        })();
        if(isIE.version=='IE7'||isIE.version=='IE8'||isIE.version=="IE6"){
            $(function(){
                $('body').html('<p style="background:#fff;font-size:18px;line-height:94px;height:94px;text-align:center;">温馨提示：系统检测到您当前浏览器版本过低，建议使用 360 (极速模式)，Chrome ，IE11及以上版本的浏览器 ,以获得更好的体验</p>');
                
            })
            
        }
       else
        {
                window.onbeforeunload = function() {

                    if(!wxbEditor.hasSaved){
                        return '保存素材还未！';
                    }
                }

                $(window).resize(function () {
                    var wrapWidth=$('.form-content-wrap').width();
                    $('#editor>div').width(wrapWidth);
                });
                function checkLogin() {
                    if (wxbEditor.userId == 0) {
                        wxbEditor.store.showLogin();
                        return false;
                    }
                    return true
                }
        }
       
    </script>

<script type="text/javascript">
jQuery(document).ready(function() {
    App.init();
});
</script>
</body>
</html>